<h1>Employee List</h1>
<a routerLink="/employees/create" class="btn btn-primary">
Create
</a>
<table class="table table-responsive table-striped table-hover">
  <thead>
  <tr>
    <th>id</th>
    <th>firstName</th>
    <th>lastName</th>
    <th>job</th>
    <th>address</th>
    <th>zipcode</th>
    <th>city</th>
    <th>birthDate</th>
    <th>arrival</th>
    <th>label</th>
    <th colSpan={{2}} ></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items" id="{{item['@id']}}" >
      <th scope="row">
        <a routerLink="{{item['@id']}}">
          {{item["@id"]}}
        </a>
      </th>
      <td>{{item["firstName"]}}</td>
      <td>{{item["lastName"]}}</td>
      <td>{{item["job"]}}</td>
      <td>{{item["address"]}}</td>
      <td>{{item["zipcode"]}}</td>
      <td>{{item["city"]}}</td>
      <td>{{item["birthDate"]}}</td>
      <td>{{item["arrival"]}}</td>
      <td>{{item["label"]}}</td>
      <td>
        <a routerLink="{{item['@id']}}">
          <fa-icon [icon]="icons.faSearch"></fa-icon>
          <span class="sr-only">Show</span>
        </a>
      </td>
      <td>
        <a routerLink="{{item['@id']}}/edit">
          <fa-icon [icon]="icons.faPencil"></fa-icon>
          <span class="sr-only">Edit</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>


