<p>Form Status: {{ employeeForm.status }}</p>
<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="edit">
  <div class="form-group">
    <label for="first-name" class="form-control-label">First Name</label>
    <input id="first-name" type="text" formControlName="firstName" class="form-control">
    <div *ngIf="controls.firstName.errors?.['fromServer']" class="text-danger">
      {{controls.firstName.errors?.['fromServer']}}
    </div>
  </div>
  <div class="form-group">
    <label for="last-name" class="form-control-label">Last Name *</label>
    <input id="last-name" type="text" formControlName="lastName" class="form-control" required>
    <div *ngIf="shouldShowErrors(controls.lastName)"
         class="text-danger">
      <div *ngIf="controls.lastName.errors?.['required']">
        This value should not be blank
      </div>
     </div>
    <div *ngIf="controls.lastName.errors?.['fromServer']" class="text-danger">
      {{controls.lastName.errors?.['fromServer']}}
    </div>
  </div>

  <div class="form-group">
    <label for="job" class="form-control-label">Job</label>
    <input id="job" type="text" formControlName="job" class="form-control">
    <div *ngIf="shouldShowErrors(controls.job)" class="text-danger">
      <div *ngIf="controls.job.errors?.['required']">
        This value should not be blank
      </div>
      <div *ngIf="controls.job.errors?.['fromServer']">
        {{controls.job.errors?.['fromServer']}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="address" class="form-control-label">Address</label>
    <input id="address" type="text" formControlName="address" class="form-control">
    <div *ngIf="shouldShowErrors(controls.address)" class="text-danger">
      <div *ngIf="controls.address.errors?.['required']">
        This value should not be blank
      </div>
      <div *ngIf="controls.address.errors?.['fromServer']">
        {{controls.address.errors?.['fromServer']}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="zipcode" class="form-control-label">Zipcode</label>
    <input id="zipcode" type="text" formControlName="zipcode" class="form-control">
    <div *ngIf="controls.zipcode.errors?.['fromServer']" class="text-danger">
      {{controls.zipcode.errors?.['fromServer']}}
    </div>
  </div>
  <div class="form-group">
    <label for="city" class="form-control-label">City</label>
    <input id="city" type="text" formControlName="city" class="form-control">
    <div *ngIf="shouldShowErrors(controls.city)" class="text-danger">
      <div *ngIf="controls.city.errors?.['required']">
        This value should not be blank
      </div>
      <div *ngIf="controls.city.errors?.['fromServer']">
        {{controls.city.errors?.['fromServer']}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="birthDate" class="form-control-label">Date of birth</label>
    <input id="birthDate" type="text" formControlName="birthDate" class="form-control">
    <div *ngIf="shouldShowErrors(controls.birthDate)" class="text-danger">
      <div *ngIf="controls.birthDate.errors?.['required']">
        This value should not be blank
      </div>
      <div *ngIf="controls.birthDate.errors?.['fromServer']">
        {{controls.birthDate.errors?.['fromServer']}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="arrival" class="form-control-label">Arrival</label>
    <input id="arrival" type="text" formControlName="arrival" class="form-control" placeholder="Time the employee usually arrives at work">
    <div *ngIf="controls.arrival.errors?.['fromServer']" class="text-danger">
      {{controls.arrival.errors?.['fromServer']}}
    </div>
  </div>

  <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-success">Submit</button>
</form>
