<div *ngIf="item">
  <h1>Show {{item["@id"]}}</h1>
  <table class="table table-responsive table-striped table-hover">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">firstName</th>
        <td>{{item["firstName"]}}</td>
      </tr>
      <tr>
        <th scope="row">lastName</th>
        <td>{{item["lastName"]}}</td>
      </tr>
      <tr>
        <th scope="row">job</th>
        <td>{{item["job"]}}</td>
      </tr>
      <tr>
        <th scope="row">address</th>
        <td>{{item["address"]}}</td>
      </tr>
      <tr>
        <th scope="row">zipcode</th>
        <td>{{item["zipcode"]}}</td>
      </tr>
      <tr>
        <th scope="row">city</th>
        <td>{{item["city"]}}</td>
      </tr>
      <tr>
        <th scope="row">birthDate</th>
        <td>{{item["birthDate"]}}</td>
      </tr>
      <tr>
        <th scope="row">arrival</th>
        <td>{{item["arrival"]}}</td>
      </tr>
      <tr>
        <th scope="row">label</th>
        <td>{{item["label"]}}</td>
      </tr>
    </tbody>
  </table>

  <a routerLink="/employees" class="btn btn-primary">
  Back to list
  </a>
  <a routerLink="{{item['@id']}}/edit/">
    <button class="btn btn-warning">Edit</button>
  </a>
  <button (click)="delete(item)" class="btn btn-danger">
    Delete
  </button>
</div>
