<span *ngIf="item">
  <h1 i18n="@@employee.show">Show {{item["@id"]}}</h1>
  <table class="table table-responsive table-striped table-hover">
    <thead>
      <tr>
        <th i18n="@@field">Field</th>
        <th i18n="@@value">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" i18n="@@employee.firstName">First Name</th>
        <td>{{item["firstName"]}}</td>
      </tr>
      <tr>
        <th scope="row" i18n="@@employee.lastName">Last Name</th>
        <td>{{item["lastName"]}}</td>
      </tr>
      <tr>
        <th scope="row" i18n="@@employee.job">Job</th>
        <td>{{item["job"]}}</td>
      </tr>
      <tr>
        <th scope="row" i18n="@@employee.address">Address</th>
        <td>{{item["address"]}}</td>
      </tr>
      <tr>
        <th scope="row" i18n="@@employee.zipcode">Zipcode</th>
        <td>{{item["zipcode"]}}</td>
      </tr>
      <tr>
        <th scope="row" i18n="@@employee.city">City</th>
        <td>{{item["city"]}}</td>
      </tr>
      <tr>
        <th scope="row" i18n="@@employee.birthDate">Date of birth</th>
        <td>{{item["birthDate"] | localDate }}</td>
      </tr>
      <tr>
        <th scope="row" i18n="@@employee.arrival">Arrival</th>
        <td>{{item["arrival"] | localTime }}</td>
      </tr>
      <tr>
        <th scope="row" i18n="@@employee.label">Label</th>
        <td>{{item["label"]}}</td>
      </tr>
    </tbody>
  </table>

  <a routerLink="{{item['@id']}}/edit/">
    <button class="btn btn-warning" i18n="@@edit">Edit</button>
  </a>
  <button (click)="delete(item)" class="btn btn-danger" i18n="@@delete">
    Delete
  </button>
</span>
<a routerLink="/employees" class="btn btn-primary" i18n="@@backToList">
  Back to list
</a>
