<div class="welcome">
  <header class="welcome__top">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://api-platform.com"
    >
    </a>
    <br/> <br/> <br/> <br/> <br/>
  </header>
  <div class="welcome__main">
    <div class="main__content">
      <h1>
        <strong>Tutorial API Platform</strong>
      </h1>
      <br/>
      <div class="main__before-starting">
        <p>
          This container will host your
          <a routerLink="/employees/"><b>Angular Web App</b></a>.
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/metaclass-nl/tutorial-api-platform/blob/chapter1-angular/README.md"
          class="main__button"
        >
          Get started &nbsp;&gt;
        </a>
      </div>
      <div class="main__other">
        <h2>Available services:</h2>
        <div class="other__bloc" style="width: 200px; padding-left: 80px">
          <div class="other__content">
            <h3><a href="https://localhost/docs">API</a></h3>
          </div>
        </div>
        <div class="other__bloc" style="width: 200px; padding-left: 65px">
          <div class="other__content">
            <h3><a href="https://localhost/admin">Admin</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
